@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-background: #5c506f;
    --color-text: #fff;
    --color-link: #ffbb95;
    --image-border-color: #a595bd;
    --image-border-width: 10px;
    --color-ui-accent: #ffbb95;
    --color-slider: #ffbb95;
    --column-stagger: 80px;
}

@media (min-width: 768px) {
    :root {
        --image-border-width: 5px;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    color: var(--color-link);
}

/* Prevent double-tap zoom delay on interactive elements */
button, label, input {
    touch-action: manipulation;
}